***
<div class="alert alert-block alert-success">
<font color = '#006400'> 
    
# 1. Data Collection </font>    

Importing Libraries, reading Data and merging Datasets.
</div>

In [24]:
# Import Libraries
import pandas as pd

In [25]:
# Read Data
demographic = pd.read_excel("Telco_customer_churn_demographics.xlsx")
location = pd.read_excel("Telco_customer_churn_location.xlsx")
population = pd.read_excel("Telco_customer_churn_population.xlsx")
services = pd.read_excel("Telco_customer_churn_services.xlsx")
status = pd.read_excel("Telco_customer_churn_status.xlsx")

In [26]:
display(demographic.head(2))
display(location.head(2))
display(population.head(2))
display(services.head(2))
display(status.head(2))

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1

,Customer ID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237

   ID  Zip Code  Population
0   1     90001       54492
1   2     90002       44586

,Customer ID,Count,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,NaN,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.0,20,0.0,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.0,0,390.8,1024.10

,Customer ID,Count,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer

In [27]:
demographic = demographic.rename(columns={'Count': 'CountDemo'})
demographic.head(2)

,Customer ID,CountDemo,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1

In [37]:
location = location.rename(columns={'Count': 'CountLoc'})
location.head(2)

,Customer ID,CountLoc,Country,State,City,Zip Code,Lat Long,Latitude,Longitude
0,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.023810,-118.156582
1,7495-OOKFY,1,United States,California,Los Angeles,90063,"34.044271, -118.185237",34.044271,-118.185237

In [38]:
services = services.rename(columns={'Count': 'CountServ'})
services.head(2)

,Customer ID,CountServ,Quarter,Referred a Friend,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,Multiple Lines,...,Unlimited Data,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue
0,8779-QRDMV,1,Q3,No,0,1,NaN,No,0.00,No,...,No,Month-to-Month,Yes,Bank Withdrawal,39.65,39.65,0.0,20,0.0,59.65
1,7495-OOKFY,1,Q3,Yes,1,8,Offer E,Yes,48.85,Yes,...,Yes,Month-to-Month,Yes,Credit Card,80.65,633.30,0.0,0,390.8,1024.10

In [30]:
status = status.rename(columns={'Count': 'CountSta'})
status.head(2)

,Customer ID,CountSta,Quarter,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer

In [43]:
merged = demographic.merge(location, on='Customer ID')
merged = merged.merge(services, on='Customer ID')
merged_df = merged.merge(status, on='Customer ID')

In [44]:
merged_df.head(2)

,Customer ID,CountDemo,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,CountLoc,...,CountSta,Quarter_y,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,1,...,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,1,...,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer

In [45]:
merged_df.set_index('Customer ID', inplace = True)
merged_df.head(2)

,CountDemo,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,CountLoc,Country,...,CountSta,Quarter_y,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
Customer ID,,,,,,,,,,,,,,,,,,,,,
8779-QRDMV,1,Male,78,No,Yes,No,No,0,1,United States,...,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,1,United States,...,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer

In [47]:
merged_df[merged_df.duplicated()]

Empty DataFrame
Columns: [CountDemo, Gender, Age, Under 30, Senior Citizen, Married, Dependents, Number of Dependents, CountLoc, Country, State, City, Zip Code, Lat Long, Latitude, Longitude, CountServ, Quarter_x, Referred a Friend, Number of Referrals, Tenure in Months, Offer, Phone Service, Avg Monthly Long Distance Charges, Multiple Lines, Internet Service, Internet Type, Avg Monthly GB Download, Online Security, Online Backup, Device Protection Plan, Premium Tech Support, Streaming TV, Streaming Movies, Streaming Music, Unlimited Data, Contract, Paperless Billing, Payment Method, Monthly Charge, Total Charges, Total Refunds, Total Extra Data Charges, Total Long Distance Charges, Total Revenue, CountSta, Quarter_y, Satisfaction Score, Customer Status, Churn Label, Churn Value, Churn Score, CLTV, Churn Category, Churn Reason]
Index: []

[0 rows x 55 columns]

[BACK TO TOC](#toc)
    
<div class="alert alert-block alert-success">
<a id='explore'>
<font color = '#006400'> 
    
# 2. Explore Data </font>
</a>
    
</div>
    
<img src="images/phase03.png" alt="Drawing" style="width: 500px;"/>

<div class="alert alert-block alert-warning">

<a id='basic'></a>

## 2.1. Basic Exploration
    
</div>

In [52]:
merged_df.shape

(7043, 55)

In [54]:
merged_df.columns.tolist()

['CountDemo',
 'Gender',
 'Age',
 'Under 30',
 'Senior Citizen',
 'Married',
 'Dependents',
 'Number of Dependents',
 'CountLoc',
 'Country',
 'State',
 'City',
 'Zip Code',
 'Lat Long',
 'Latitude',
 'Longitude',
 'CountServ',
 'Quarter_x',
 'Referred a Friend',
 'Number of Referrals',
 'Tenure in Months',
 'Offer',
 'Phone Service',
 'Avg Monthly Long Distance Charges',
 'Multiple Lines',
 'Internet Service',
 'Internet Type',
 'Avg Monthly GB Download',
 'Online Security',
 'Online Backup',
 'Device Protection Plan',
 'Premium Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Streaming Music',
 'Unlimited Data',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Monthly Charge',
 'Total Charges',
 'Total Refunds',
 'Total Extra Data Charges',
 'Total Long Distance Charges',
 'Total Revenue',
 'CountSta',
 'Quarter_y',
 'Satisfaction Score',
 'Customer Status',
 'Churn Label',
 'Churn Value',
 'Churn Score',
 'CLTV',
 'Churn Category',
 'Churn Reason']

In [57]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 8779-QRDMV to 3186-AJIEK
Data columns (total 55 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CountDemo                          7043 non-null   int64
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Number of Dependents               7043 non-null   int64
 8   CountLoc                           7043 non-null   int64
 9   Country                            7043 non-null   object
 10  State                              7043 non-null   object
 11  City                               7043 non-null   object
 12  Zip Code                           7043 non-null   int64
 13  Lat Long                           7043 non-null   object
 14  Latitude                           7043 non-null   float64
 15  Longitude                          7043 non-null   float64
 16  CountServ                          7043 non-null   int64
 17  Quarter_x                          7043 non-null   object
 18  Referred a Friend                  7043 non-null   object
 19  Number of Referrals                7043 non-null   int64
 20  Tenure in Months                   7043 non-null   int64
 21  Offer                              3166 non-null   object
 22  Phone Service                      7043 non-null   object
 23  Avg Monthly Long Distance Charges  7043 non-null   float64
 24  Multiple Lines                     7043 non-null   object
 25  Internet Service                   7043 non-null   object
 26  Internet Type                      5517 non-null   object
 27  Avg Monthly GB Download            7043 non-null   int64
 28  Online Security                    7043 non-null   object
 29  Online Backup                      7043 non-null   object
 30  Device Protection Plan             7043 non-null   object
 31  Premium Tech Support               7043 non-null   object
 32  Streaming TV                       7043 non-null   object
 33  Streaming Movies                   7043 non-null   object
 34  Streaming Music                    7043 non-null   object
 35  Unlimited Data                     7043 non-null   object
 36  Contract                           7043 non-null   object
 37  Paperless Billing                  7043 non-null   object
 38  Payment Method                     7043 non-null   object
 39  Monthly Charge                     7043 non-null   float64
 40  Total Charges                      7043 non-null   float64
 41  Total Refunds                      7043 non-null   float64
 42  Total Extra Data Charges           7043 non-null   int64
 43  Total Long Distance Charges        7043 non-null   float64
 44  Total Revenue                      7043 non-null   float64
 45  CountSta                           7043 non-null   int64
 46  Quarter_y                          7043 non-null   object
 47  Satisfaction Score                 7043 non-null   int64
 48  Customer Status                    7043 non-null   object
 49  Churn Label                        7043 non-null   object
 50  Churn Value                        7043 non-null   int64
 51  Churn Score                        7043 non-null   int64
 52  CLTV                               7043 non-null   int64
 53  Churn Category                     1869 non-null   object
 54  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(15), object(32)
memory usage: 3.0+ MB

In [61]:
merged_df.dtypes.value_counts()

object     32
int64      15
float64     8
Name: count, dtype: int64

<div class="alert alert-block alert-warning">

<a id='stats'></a>

## 2.2. Statistical Exploration
    
</div>

<div class="alert alert-block alert-info">
    
<a id='stats_num'></a>

### 2.3.1. Numerical Variables
    
</div>

In [58]:
merged_df.describe()

,CountDemo,Age,Number of Dependents,CountLoc,Zip Code,Latitude,Longitude,CountServ,Number of Referrals,Tenure in Months,...,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,CountSta,Satisfaction Score,Churn Value,Churn Score,CLTV
count,7043.0,7043.000000,7043.000000,7043.0,7043.000000,7043.000000,7043.000000,7043.0,7043.000000,7043.000000,...,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.0,7043.000000,7043.000000,7043.000000,7043.000000
mean,1.0,46.509726,0.468692,1.0,93486.070567,36.197455,-119.756684,1.0,1.951867,32.386767,...,2280.381264,1.962182,6.860713,749.099262,3034.379056,1.0,3.244924,0.265370,58.505040,4400.295755
std,0.0,16.750352,0.962802,0.0,1856.767505,2.468929,2.154425,0.0,3.001199,24.542061,...,2266.220462,7.902614,25.104978,846.660055,2865.204542,0.0,1.201657,0.441561,21.170031,1183.057152
min,1.0,19.000000,0.000000,1.0,90001.000000,32.555828,-124.301372,1.0,0.000000,1.000000,...,18.800000,0.000000,0.000000,0.000000,21.360000,1.0,1.000000,0.000000,5.000000,2003.000000
25%,1.0,32.000000,0.000000,1.0,92101.000000,33.990646,-121.788090,1.0,0.000000,9.000000,...,400.150000,0.000000,0.000000,70.545000,605.610000,1.0,3.000000,0.000000,40.000000,3469.000000
50%,1.0,46.000000,0.000000,1.0,93518.000000,36.205465,-119.595293,1.0,0.000000,29.000000,...,1394.550000,0.000000,0.000000,401.440000,2108.640000,1.0,3.000000,0.000000,61.000000,4527.000000
75%,1.0,60.000000,0.000000,1.0,95329.000000,38.161321,-117.969795,1.0,3.000000,55.000000,...,3786.600000,0.000000,0.000000,1191.100000,4801.145000,1.0,4.000000,1.000000,75.500000,5380.500000
max,1.0,80.000000,9.000000,1.0,96150.000000,41.962127,-114.192901,1.0,11.000000,72.000000,...,8684.800000,49.790000,150.000000,3564.720000,11979.340000,1.0,5.000000,1.000000,96.000000,6500.000000

In [64]:
merged_num = merged_df.select_dtypes(include=['number'])
skewness = merged_num.skew()
skewness

CountDemo                            0.000000
Age                                  0.162186
Number of Dependents                 2.109932
CountLoc                             0.000000
Zip Code                            -0.209615
Latitude                             0.314804
Longitude                           -0.091932
CountServ                            0.000000
Number of Referrals                  1.446060
Tenure in Months                     0.240543
Avg Monthly Long Distance Charges    0.049176
Avg Monthly GB Download              1.216584
Monthly Charge                      -0.220524
Total Charges                        0.963791
Total Refunds                        4.328517
Total Extra Data Charges             4.091209
Total Long Distance Charges          1.238282
Total Revenue                        0.919410
CountSta                             0.000000
Satisfaction Score                  -0.367401
Churn Value                          1.063031
Churn Score                         -0.156852
CLTV                                -0.311602
dtype: float64

If the skewness is lower than -1 (negative skewed) or greater than 1 (positive skewed), the data are extremely skewed.

In [66]:

merged_num.kurtosis()

CountDemo                             0.000000
Age                                  -1.002849
Number of Dependents                  4.446358
CountLoc                              0.000000
Zip Code                             -1.173915
Latitude                             -1.160506
Longitude                            -1.191291
CountServ                             0.000000
Number of Referrals                   0.721964
Tenure in Months                     -1.387052
Avg Monthly Long Distance Charges    -1.254654
Avg Monthly GB Download               0.881502
Monthly Charge                       -1.257260
Total Charges                        -0.227693
Total Refunds                        18.350658
Total Extra Data Charges             16.458874
Total Long Distance Charges           0.644092
Total Revenue                        -0.203457
CountSta                              0.000000
Satisfaction Score                   -0.536853
Churn Value                          -0.870211
Churn Score                          -1.085290
CLTV                                 -0.934032
dtype: float64

High kurtosis in a data set is an indicator that data has heavy tails or outliers. A standard normal distribution has a kurtosis of 3, so values higher than that could indicate presence of outliers.
We need to check further this variable about the presence of possible outliers.

<div class="alert alert-block alert-info">
    
<a id='stats_cat'></a>

### 2.3.2. Categorical Variables
    
</div>

The main descriptive statistics for all the categorical variables in using the method `describe(include = ['O'])`

In [68]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [69]:
merged_df.describe(include = ['O'])

,Gender,Under 30,Senior Citizen,Married,Dependents,Country,State,City,Lat Long,Quarter_x,Referred a Friend,Offer,Phone Service,Multiple Lines,Internet Service,Internet Type,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Paperless Billing,Payment Method,Quarter_y,Customer Status,Churn Label,Churn Category,Churn Reason
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,3166,7043,7043,7043,5517,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,1869,1869
unique,2,2,2,2,2,1,1,1106,1679,1,2,5,2,2,2,3,2,2,2,2,2,2,2,2,3,2,3,1,3,2,5,20
top,Male,No,No,No,No,United States,California,Los Angeles,"33.362575, -117.299644",Q3,No,Offer B,Yes,No,Yes,Fiber Optic,No,No,No,No,No,No,No,Yes,Month-to-Month,Yes,Bank Withdrawal,Q3,Stayed,No,Competitor,Competitor had better devices
freq,3555,5642,5901,3641,5416,7043,7043,293,43,7043,3821,824,6361,4072,5517,3035,5024,4614,4621,4999,4336,4311,4555,4745,3610,4171,3909,7043,4720,5174,841,313

Only one country, one State, one quarter

In [71]:
merged_df['Offer'].value_counts()

Offer
Offer B    824
Offer E    805
Offer D    602
Offer A    520
Offer C    415
Name: count, dtype: int64

In [72]:
merged_df['Churn Reason'].value_counts()

Churn Reason
Competitor had better devices                313
Competitor made better offer                 311
Attitude of support person                   220
Don't know                                   130
Competitor offered more data                 117
Competitor offered higher download speeds    100
Attitude of service provider                  94
Price too high                                78
Product dissatisfaction                       77
Network reliability                           72
Long distance charges                         64
Service dissatisfaction                       63
Moved                                         46
Extra data charges                            39
Limited range of services                     37
Poor expertise of online support              31
Lack of affordable download/upload speed      30
Lack of self-service on Website               29
Poor expertise of phone support               12
Deceased                                       6
Name: count, dtype: int64

In [73]:
merged_df['Payment Method'].value_counts()

Payment Method
Bank Withdrawal    3909
Credit Card        2749
Mailed Check        385
Name: count, dtype: int64

<div class="alert alert-block alert-warning">

<a id='visual'></a>

## 2.3. Visual Exploration
    
</div>

<div class="alert alert-block alert-info">
    
<a id='visual_num'></a>

### 2.3.1. Numerical Variables
    
</div>